# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
*.venv/

# Jupyter / IPython
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data / sensitive files
data/*.csv
!data/dummy_data_no_times.csv  # except the dummy one
!data/DischargeDataset.csv  # except the dataset file
models/*.joblib

# Logs
*.log
